@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
  }

.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 2rem;
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    img{
        width: 32px;
        height: 32px;
    }
}

