.container{
    padding: 15vh 0;
    .item{
        position: relative;
        width: 22vw;
        height: 22vw;
        :hover{
            img{
                display: none;
            }
            h5{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
        h5{
            display: none;
            position: absolute;
            color: black;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            left: 0; 
            right: 0; 
            top: 10vw;
            margin-left: auto; 
            margin-right: auto; 
            width: 100px;
        }
    }
}