.container{
    padding: 3rem 2vh 3rem 2vh;
    .item{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 3rem;
        .caption{           
            color: black;
        }
        div{
            margin-bottom: 1rem;
        }
    }
}

@media (min-width: 900px) {
    .container{
        padding: 15vh 0;
        .item{
            width: 25vw;
            height: 22vw;
            margin-top: 0;
            margin-bottom: 2rem;
            :hover{
                img{
                    display: none;
                }
                .caption{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
            .caption{
                display: none;
                position: absolute;
                color: black;
                font-weight: 700;
                text-transform: uppercase;
                left: 0; 
                right: 0; 
                top: 8vw;
                margin-left: auto; 
                margin-right: auto; 
                width: 90%;
            }
        }
    }
  }