@import "../../../styles/variables.scss";

.container{
    padding: 5vw 0;
    padding-bottom: 0;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    .item_flex{
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        p,h5{
            color: $white;
        }
        h5{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
        p{
            font-weight: 200 !important;
            font-size: 14px;
            line-height: 20px;
        }
        img{
            height: 50px;
            margin-bottom: 1rem;
        }
        h3{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $light_blue;
            text-align: left;
        }
        h4{
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            text-align: left;
        }
    }
}

@media (min-width: 900px) {
    .container{
        flex-direction: row;
        .item_flex{
            margin-bottom: 0;
            max-width: 40%;
            margin: 2rem;
        }
    }
  }