@import "../../styles/variables.scss";

button{
    background-color: transparent;
    border: none;
}
.button{
    background-color: $orange;
    color:$white !important;
    padding: .8rem 2rem;
    border-radius: 100px;
    position: relative;
    z-index: 99;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        background-color: $orange_hover;
    }
}
.close_button{
    width: 40px;
    height: 40px;
    filter: var(--filter);
    img{
        width: 30px;
    }
}

@media (min-width: 900px) {
    .button{
        padding: 1rem 2.5rem;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
    }
  }