button{
    background-color: transparent;
    border: none;
}
.button{
    display: inline-block;
    color: var(--secondaryColor);
    padding: .2rem 2rem;
    font-size: 25px;
    margin: 1rem;
    font-style: italic;
    border: 1px solid var(--secondaryColor);
    cursor: pointer;
    clip-path: polygon(10% 0%, 0% 100%, 90% 100%, 100% 0%);
    transition: all .5s;
    &:hover {
        font-style: normal;
     clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
      }
}
.close_button{
    width: 40px;
    height: 40px;
    filter: var(--filter);
}