.container{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 5vw;
    .box{
        margin-bottom: 4rem;
        .flex_container{
            padding-top: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }
    }
}

@media (min-width: 900px) {
  .container{
    padding: 5rem 5vw;
      text-align: center;
  }
}