.container{
    position: relative;
    z-index: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 5vw;
    p, span{
      font-variant-ligatures: discretionary-ligatures;
      font-family: 'Moniqa';
      text-transform: uppercase;
      font-style: italic;
      line-height: 14vw;
      font-size: 15vw;
      font-weight: 300;
      span{
        color: var(--secondaryColor);
      }
    }
    .img{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img{
        width: 50px;
      }
      p{
        margin: 0;
        font-size: 20px;
        line-height: 20px;
      }
    }
}

@media (min-width: 900px) {
  .container{
    padding: 5rem 5vw;
      text-align: center;
      p,span{
        line-height: 5vw;
        font-size: 5vw;
      }
  }
}