@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

*{
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    outline: none !important;
  }
html, body{
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6, p{
  color: $dark_blue;
}
a{
cursor: pointer;
text-decoration: none !important;
color: black !important;
    &:visited{
      text-decoration: none;
      color: black;
    }
    &:hover{
      text-decoration: none;
      color: black;
    }
    &:focus{
      text-decoration: none;
      color: black;
    }
    &:active{
      text-decoration: none;
      color: black;
    }
}
button{
    -webkit-appearance: none !important;
}
input[type=text], input[type=button], input[type=submit], select, button {
    -webkit-appearance: none;
}