@import "./global.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'Moniqa';
    box-sizing: border-box;
    outline: none !important;
  }
html, body{
  background: var(--bg);
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
  color:var(--hColor)
}
p{
  color:var(--pColor);
}
a{
text-decoration: none !important;
color: var(--secondaryColor) !important;
    &:visited{
      text-decoration: none;
      color: var(--secondaryColor);
    }
    &:hover{
      text-decoration: none;
      color: var(--secondaryColor);
    }
    &:focus{
      text-decoration: none;
      color: var(--secondaryColor);
    }
    &:active{
      text-decoration: none;
      color: var(--secondaryColor);
    }
}

button{
    -webkit-appearance: none !important;
}

input[type=text], input[type=button], input[type=submit], select, button {
    -webkit-appearance: none;
}