.container{
position: relative;
z-index: 2;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 100%;
min-height: 100vh;
padding: 2rem 5vw;
h1{
    font-size: 25vw;
    line-height: 22vw;
    text-transform: uppercase;
    font-style: italic;
    color: var(--secondaryColor);
}
.text{
    font-size: 8vw;
    line-height: 8vw;
    color: var(--3Color);
    padding-bottom: 2rem;
}

.box{
    font-size: 12vw;
    line-height: 12vw;
    padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        a{
            font-style: italic;
            &:hover{
            text-decoration: underline !important;
            }
        }
    }
    .flex_box{
        display: flex;
        flex-direction: column;
    }
}


@media (min-width: 900px) {
    .container{
        position: relative;
        width: 100%;
        padding: 5rem 5vw;
        margin: 0 auto;
        h1{
            text-align: center;
            font-size: 8vw;
            line-height: 8vw;
        }
        .text{
            text-align: left;
            font-size: 3vw;
            line-height: 3vw;
        }
            .box{
                font-size: 3vw;
                line-height: 3vw;
                display: flex;
                padding-bottom: 1rem;
                p{
                    padding-right: 3rem;
                    min-width: 300px;
                    max-width: 700px;
                }
                a{
                    &:hover{
                    text-decoration: underline;
                    }
                }
            }
        }
        
  }