body{
--bg: radial-gradient(58.95% 46.94% at 50% 50%, #efd8be8e 0%, #EFD8BE 100%);
--solidBg: #EFD8BE;
--hColor: #091314;
--pColor:#091314;
--aColor:#091314;
--secondaryColor: #875036;
--3Color: white;
--filter: none;
--smooth: #0913142c;
}

body.dark{
-webkit-font-smoothing: antialiased;
--bg: radial-gradient(58.95% 46.94% at 50% 50%, #091314da 0%, #091314 100%);
--solidBg: #091314;
--hColor: #EFD8BE;
--pColor:#EFD8BE;
--aColor:#EFD8BE;
--secondaryColor: #FFB047;
--3Color: #425B58;
--filter: brightness(0) invert(1);
--smooth: #efd8be2a;
}