@import "../styles/variables.scss";

.container{
  position: relative;
  padding: 3rem 5vw;
  // min-height: 100vh;
  h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $light_blue;
    letter-spacing: 0.2em;
}
ul{
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}
li{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
  li, p{
    span{
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-right: 1rem;
    }
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .photo_container{
    padding: 2rem 0 0 0;
    >div{
      width: 100%;
      height: 300px;
      opacity: 0.9;
    }
    .float_section{
      padding-top: 2rem;
      h2, h3, h4{
        text-align: center;
      }
      h2{
        color: $light_blue;
      }
      h3{
        margin: 2rem 0 1rem 0;
      }
      >div{
        padding: 0;
        max-width: 100%;
        margin-top: 1rem;
        >div{ 
        margin: 0;
        max-width: 100%;
        }
      }
    }
  }
}


@media (min-width: 900px) {
  .container{
    padding: 6rem 5vw;
    h6{
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
  }
    p, li{
      span{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
      }
    font-size: 18px;
    line-height: 24px;
  }
  .photo_container{
    margin: 4rem 0 0 0;
    position: relative;
    >img{
      position: absolute;
      top: 0;
      left: 0;
    }
    .float_section{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
      background-color: $white;
      padding: 3rem;
      >div{
        width: 40vw;
        max-width: 100%;
        padding: 0;
        flex-direction: column;
        margin-top: 0;
        >div{ 
        margin: 0;
        max-width: 100%;
        }
      }
    }
  }
  }
}