.container{
    position: relative;
    z-index: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 5vw;
    .item{
        margin: 2rem 0;
        width: 100%;
            position: relative;
            .img{
            width: 70vw;
            height: 90vh;
        }
        h1{
            text-align: right;
            text-transform: uppercase;
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-style: italic;
            line-height: 20vw;
            font-size: 20vw;
            color: var(--secondaryColor);
        }
        h1,p{
            font-variant-ligatures: discretionary-ligatures;
            font-family: 'Moniqa'; 
        }
        .phrase{
            color: var(--3Color);
            position: absolute;
            bottom: 2vw;
            right: 5vw;
            line-height: 8vw;
            font-size: 8vw;
        }
        .stack{
            color: var(--3Color);
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            right: 0;
            line-height: 8vw;
            font-size: 8vw;
            p{
                max-width: 400px;
                margin: 0;
            }
        }

    }
    .alternate{
        margin: 2rem 0;
        width: 100%;
        position: relative;
            .img{
            float: right;
            width: 70vw;
            height: 90vh;
        }
        h1{
            text-align: left;
            text-transform: uppercase;
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-style: italic;
            line-height: 20vw;
            font-size: 20vw;
            color: var(--secondaryColor);
        }
        h1,p{
            font-variant-ligatures: discretionary-ligatures;
            font-family: 'Moniqa'; 
        }
        .phrase{
            color: var(--3Color);
            position: absolute;
            bottom: 2vw;
            left: 5vw;
            line-height: 8vw;
            font-size: 8vw;
        }
        .stack{
            color: var(--3Color);
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 8vw;
            font-size: 8vw;
            p{
                max-width: 400px;
                margin: 0;
            }
        }

    }
}

@media (min-width: 900px) {
    .container{
        .item{
            margin: 5rem 0;
            .img{
                width: 40vw;
                height: 90vh;
            }
            h1{
                text-align: center;
                width: 50%;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 10vw;
                font-size: 12vw;
            }
            .stack{
                line-height: 3vw;
                font-size: 3vw;
            }
            .phrase{
                line-height: 2.5vw;
                font-size: 2vw;
            }
            .phrase{
                max-width: 70%;
                top: 2vw;
                right: 0;
            }
            .stack{
                bottom: 0;
                right: 0;
                p{
                    max-width: 400px;
                    margin: 0;
                }
            }
        }
        .alternate{
            margin: 5rem 0;
            .img{
                width: 40vw;
                height: 90vh;
            }
            h1{
                text-align: center;
                width: 50%;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 10vw;
                font-size: 12vw;
            }
            .stack{
                line-height: 3vw;
                font-size: 3vw;
            }
            .phrase{
                line-height: 2.5vw;
                font-size: 2vw;
            }
            .phrase{
                max-width: 70%;
                top: 2vw;
                left: 0;
            }
            .stack{
                bottom: 0;
                left: 0;
                p{
                    max-width: 400px;
                    margin: 0;
                }
            }
        }
    }
}