.abs{
    position: absolute;
    top: 0rem;
}
.container{
    padding: 2rem 5vw 10rem 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    .flex{
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            font-size: 50px;
        }
        a{
            font-size: 20px;
        }
    }
    h6{
        font-size: 20px;
    }
    .img{
        padding: 2rem 0;
        width: 100%;
        height: 300px;
        img{
            object-fit: cover;
            width: 100%;
            height: 500px;
        }
    }
    .md{
        width: 100%;
        padding: 1rem 0;
        section{
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 1200px;
            margin: 0 auto;
            video{
                margin-bottom: 1rem;
            }
        }
        article{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            margin: 2rem auto;
            max-width: 1200px;
            p{
                line-height: 30px;
                font-size: 25px;
                text-align: left;
            }
            img{
                max-width: 90vw;
                margin-bottom: 3rem;
            }
        }
    }
}

@media (min-width: 900px) {
    .container{
        .md{
            section{
                flex-direction: row;
                justify-content: space-between;
            }
            article{
                flex-direction: row;
                justify-content: space-between;
                p{
                    line-height: 40px;
                    font-size: 35px;
                }
                img{
                    max-width: 600px;
                    margin-bottom: 0;
                }
            }
        }
    }
}