.container{
    text-align: left;
    width: 100%;
    padding: 2rem 0;
    .skill{
        margin-bottom: 2rem;
        p{
            text-transform: none;
            font-style: normal;
            font-size: 25px;
            margin: 0;
        }
        .bar_component{
            height: 3px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .bar{
                height: 3px;
                width: 90%;
                background-color: var(--smooth);
                div{
                    width: 0;
                    height: 3px;
                    z-index: 2;
                    transition: 2s;
                    background-color: var(--secondaryColor) !important;
                }
            }
            p{
                font-size: 20px;
            }
        }
     
    }
}

@media (min-width: 900px) {
    .container{
        .skill{
            p{
                font-size: 35px;
            }
            .bar_component{
                .bar{
                    width: 95%;
                }
                p{
                    font-size: 25px;
                }
            }
         
        }
    }
  }