@font-face {
    font-family: 'Moniqa';
    src: local('Moniqa'),
         url('../../fonts/CYR_CT_OP_Emberly\ Regular\ [wdth\,wght]-VF.ttf') format('truetype'),
         url('../../fonts/CYR_CT_OP_Emberly\ Regular\ [wdth\,wght]-VF.otf') format('opentype');
}

.page{
    padding-top: 10vh;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}