@import "../../../styles/variables.scss";

.container{
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 5vw;
    max-width: 1200px;
    width: 100%;
    section{
        margin: 0 auto;
        position: relative;
        .abs_quotes{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);          
            img{
                width: 70px;
            }
        }
        h4{
            font-weight: 500 !important;
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@media (min-width: 900px) {
    .container{
        padding: 6rem 5vw;
        section{
            h4{
                font-weight: 300;
                font-size: 28px;
                line-height: 40px;
            }
        }
    }
}