.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 5vw;
  top: 1.5rem;
}

.bm-burger-bars {
  background: black;
  height: 3px !important;
}

.bm-burger-bars-hover {
  background: black;
}

.bm-cross-button {
  width: 30px !important;
  height: 30px !important;
  right: 6.7vw !important;
  top: .7rem !important;
}
.bm-cross {
  background: white;
  height: 40px !important;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}
.bm-menu {
  background: black;
  opacity: 0.95;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-item-list {
  margin-top: 4rem;
  height: fit-content !important;
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  justify-content: flex-start !important;
}
.bm-item{
  font-size: 20px !important;
  color: white !important;
}
.bm-overlay {
  background: transparent !important;
}