.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  right: 5vw;
  top: 1.2rem;
}

.bm-burger-bars {
  background: #FF914C;
  height: 3px !important;
}

.bm-burger-bars-hover {
  background: #FF914C;
}

.bm-cross-button {
  width: 20px !important;
  height: 20px !important;
  right: 5.7vw !important;
  top: .3rem !important;
}
.bm-cross {
  background: #060823;
  height: 40px !important;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}
.bm-menu {
  background: whitesmoke;
  opacity: 0.9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-item-list {
  margin-top: 4rem;
  height: fit-content !important;
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  justify-content: flex-start !important;
}
.bm-item{
  font-size: 20px !important;
  color: #060823 !important;
}
.bm-overlay {
  background: transparent !important;
}