.carousel_img{
    width:100%;
    height:100vh;
}

.caption{
    color: whitesmoke;
    h1{
        font-size: 40px;
        font-weight: 900;
    }
    p{
        margin: 0;
        font-size: 14px;
        font-weight: 900;
    }
}

@media (min-width: 870px) {
    .caption{
        h1{
            font-size: 70px;
        }
        p{
            font-size: 20px;
        }
    }
    }